{% extends "Articles/Layout.html" %}

{% block content %}
<div class="container-fluid py-5" id="contact">
    <div class="container">
        <div class="position-relative d-flex align-items-center justify-content-center">
            <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Connexion</h1>
            <h1 class="position-absolute text-uppercase text-primary">Creez votre compte</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="contact-form text-center">
                    {% if messages %}
                    <div class="alert alert-success">
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    </div>
                    {% endif %}
                    <!-- Début du formulaire Django -->
                    <form method="post" novalidate="novalidate">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="control-group col-sm-6">
                                <!-- Champ "Votre nom" -->
                                {{ form.first_name.label_tag }}
                                {{ form.first_name }}
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group col-sm-6">
                                <!-- Champ "Email" -->
                                {{ form.last_name.label_tag }}
                                {{ form.last_name}}
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="control-group col-sm-6">
                                <!-- Champ "Votre nom" -->
                                {{ form.username.label_tag }}
                                {{ form.username }}
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group col-sm-6">
                                <!-- Champ "Email" -->
                                {{ form.email.label_tag }}
                                {{ form.email}}
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group col-sm-12">
                                <!-- Champ "Sujet" -->
                                {{ form.password.label_tag }}
                                {{ form.password }}
                                <p class="help-block text-danger"></p>
                            </div>

                        </div>
                        <div>
                            <input type="submit" value="Envoyer" class="btn btn-info">
                            <input type="reset" value="Annuler" class="btn btn-danger">
                            <p class="mt-4 text-sm text-center">
                                Déjà un compte ? 
                                <a href="{% url 'accounts:login' %}" class="text-primary text-gradient font-weight-bold">Se connecter</a>
                            </p>
                        </div>
                    </form>
                  
                </div>  <!-- Fin du formulaire Django -->
            </div>
        </div>
    </div>
</div>
{% endblock content %}
