{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supprimer l'Article</title>
    <!-- Lien vers le fichier CSS de Bootstrap -->
    <link rel="stylesheet" href="{% static 'artistes/bootstrap.css' %}">
</head>
<body class="container mt-5">

    <!-- Contenu principal -->
    <h1>Êtes-vous sûr de vouloir supprimer l'article : "{{ articles.title }}" ?</h1>
    
    <!-- Formulaire de confirmation de suppression -->
    <form action="" method="post">
        {% csrf_token %}
        <input type="submit" value="Supprimer" class="btn btn-danger">
        <a href="{% url 'List_articles' %}" class="btn btn-secondary">Annuler</a>
    </form>
    
</body>
</html>
